div {
    padding: 2px;
    margin: 0 auto;
    background-color:rgb(24, 26, 27);
}

.start {border-radius: 7px; max-width:200px; padding: 4px;}
.end {border-radius: 7px; max-width: 240px; padding: 4px;}

.pfp1 {border-radius: 10px; max-width: 250px;}
.pfp2 {border-radius: 6px; max-width: 300px;}
.ref1 {border-radius: 10px; max-width: 400px;}
.ref2 {border-radius: 6px; max-width: 430px;}
.falke1-1 {border-radius: 10px; max-width: 250px;}
.falke1-2 {border-radius: 6px; max-width: 270px;}
.falke2-1 {border-radius: 10px; max-width: 380px;}
.falke2-2 {border-radius: 6px; max-width: 220px;}
.jin1 {border-radius: 10px; max-width: 250px;}
.jin2 {border-radius: 6px; max-width: 290px;}
.sin1-1 {border-radius: 10px; max-width: 250px;}
.sin1-2 {border-radius: 6px; max-width: 220px;}
.sin2-1 {border-radius: 6px; max-width: 260;}
.sin2-2 {border-radius: 7px; max-width: 230px;}
.fbatcat1 {border-radius: 10px; max-width: 250px;}
.fbatcat2 {border-radius: 6px; max-width: 220px;}
.jcdl1 {border-radius: 10px; max-width: 290px;}
.jcdl2 {border-radius: 6px; max-width: 200px;}
.vird1 {border-radius: 10px; max-width: 290px;}
.vird2 {border-radius: 6px; max-width: 270px;}
.falke3-1 {border-radius: 10px; max-width: 200px;}
.falke3-2 {border-radius: 6px; max-width: 240px;}
.sori1 {border-radius: 10px; max-width: 290px;}
.sori2 {border-radius: 6px; max-width: 270px;}
.me1-1 {border-radius: 10px; max-width: 215px;}
.me1-2 {border-radius: 6px; max-width: 270px;}
.me2-1 {border-radius: 10px; max-width: 260px;}
.me2-2 {border-radius: 6px; max-width: 270px;}
.me3-1 {border-radius: 10px; max-width: 260px;}
.me3-2 {border-radius: 6px; max-width: 270px;}
.me4-1 {border-radius: 10px; max-width: 260px;}
.me4-2 {border-radius: 6px; max-width: 100px;}
.noah1 {border-radius: 10px; max-width: 380px;}
.noah2 {border-radius: 6px; max-width: 270px;}
.wyvro1 {border-radius: 10px; max-width: 300px;}
.wyvro2 {border-radius: 6px; max-width: 210px;}
.fluffyworks1 {border-radius: 10px; max-width: 350px;}
.fluffyworks2 {border-radius: 10px; max-width: 350px;}
.frigid1 {border-radius: 10px; max-width: 380px;}
.frigid2 {border-radius: 6px; max-width: 350px;}
.gin1 {border-radius: 10px;max-width: 330px;}
.gin2 {border-radius: 6px; max-width: 300px;}
.worm1 {border-radius: 10px; max-width: 350px;}
.worm2 {border-radius: 6px; max-width: 420px;}