.version {
  //pc
@media screen and (min-width: 1013px) {
  position: fixed;
  border-radius: 8px;
  right: 1%;
  font-size: 15px;
  padding: 5px;
  color: white;
  opacity: 30%;

  &:hover {opacity: 1; cursor: pointer; transition: opacity 150ms ease-in;}
  &:active {cursor: not-allowed;}}
}

.discordembedd {
  max-width: 250px;
  opacity: 100%;
    @media screen and (min-width: 1182px) {
  position: absolute;
  top: 7%;
  right: 1%;
  }
}

.settingsIcon {
  top: 2%;
  left: 1%;
  position: absolute;
  padding: 4px;
  z-index: 10;
}

.themeSettings {
  width: 200px;
  padding: 3px;

  display: flex;
  justify-content: center;
  z-index: 11;

  hr {display: none;}

@media screen and (min-width: 800px) {  //  pc
  width: 150px;
  position: absolute;
  top: 1%;
  left: 1%;}

}

@supports not (-moz-animation: none) {
  .myLinksContainer {background: none; backdrop-filter: blur(0px);
  .myLinks {background-color: rgba(0, 0, 0, 0.1);}
}}

pre {font-family: inherit;}


.ref {
  @media screen and (min-width: 471px) {
  max-width: 400px;
  img{max-width:380px;}}
  
  @media screen and (max-width: 470px) {
  width: 85%;
  img{width: 100%;}}
}
//  art gird

.artGridContainer {
  @media screen and (max-width: 480px) {  //  mobile
    overflow: hidden;
    width: 90%;
    display: grid;
    grid-template-columns: 85%;
    grid-auto-rows: auto;
    justify-content: center;
    padding: 1em;
    img, iframe {width: 90%;}
    @supports not (-moz-animation: none) {  //  chromium
      .col {background-color: rgba(0,0,0,0);}}
}

  @media screen and (min-width: 481px) {  //  pc
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    //padding: 14px 0 0 14px;
    overflow: auto;
    padding: 1em;
    width: 75%;
    grid-gap: 4em;
    margin: 0 auto;
    img {width: 160px}}
    span {width: fit-content; margin: 0 auto;}
}

.col {
      align-self: center;
      max-width: 250px;
      @media screen and (max-width: 480px) {
      margin: 0 0 20px 0;}
  
      iframe {max-width: 250px; margin: 0;}}

.popup {
  position: fixed;
  display: none;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  top: 1%;
  left: 10%;
  overflow: auto;

  z-index: 12;
}

.libraryIsometric {
  @media screen and (min-width: 950px) {
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;}
}

#popupDarkBG {
  display: none; 
  z-index:9; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0; 
  position: fixed; 
  //backdrop-filter: blur(6px);
}