.version {
  //pc
@media screen and (min-width: 1013px) {
  position: fixed;
  border-radius: 8px;
  right: 1%;
  font-size: 15px;
  padding: 5px;
  color: white;
  opacity: 30%;

  &:hover {opacity: 1; cursor: pointer; transition: opacity 150ms ease-in;}
  &:active {cursor: not-allowed;}}
}


.settingsIcon {
  top: 2%;
  left: 1%;
  position: absolute;
  padding: 4px;
  z-index: 10;
}

.themeSettings {
  width: 300px;
  padding: 3px;

  display: flex;
  justify-content: center;
  z-index: 11;

  hr {display: none;}

@media screen and (min-width: 800px) {  //  pc
  width: 150px;
  position: absolute;
  top: 1%;
  left: 1%;}

}

@supports not (-moz-animation: none) {
  .myLinksContainer {background: none; backdrop-filter: blur(0px);
  .myLinks {background-color: rgba(0, 0, 0, 0.1);}
}}

pre {font-family: inherit;}


.ref {
  @media screen and (min-width: 341px) {
  img {width: 400px;}}
  
  @media screen and (max-width: 340px) {
  img {width: 85%;}}
}
//  art gird

.artGridContainer {
  @media screen and (max-width: 480px) {  //  mobile
    @supports not (-moz-animation: none) {  //  chromium
      .col {background-color: rgba(0,0,0,0);}}
      overflow: hidden;
    width: 90%;
    display: grid;
    grid-template-columns: 85%;
    grid-auto-rows: auto;
    justify-content: center;
    padding: 1em;
    img, iframe {width: 90%;}}

  @media screen and (min-width: 481px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    //padding: 14px 0 0 14px;
    padding: 1em;
    width: 95%;
    grid-gap: 4em;
    margin: 0 auto;
    img, iframe {width: 160px}}
    span {width: fit-content; margin: 0 auto;}
}

.col {
      align-self: center;
      margin: 0 0 10px 0;
      max-width: 250px;
      @media screen and (max-width: 480px) {
      margin: 0 0 10px 0 auto;
    }}

.popup {
  position: fixed;
  display: none;
  margin: 0 auto;
  width: 80%;
  height: 90%;
  top: 1%;
  left: 10%;
  overflow: auto;

  z-index: 12;
}

.libraryIsometric {
  @media screen and (min-width: 950px) {
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;}
}




midadcontainer {
  @media screen and (min-width: 601px) {max-width: 600px;}
  @media screen and (max-width: 600px) {width: 85%}
  display: block;
  margin: 0 auto;
  backdrop-filter: blur(0px);
}

bottomAdContainer {
  @media screen and (min-width: 601px) {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);}

  background: none;
  border: none;
  backdrop-filter: blur(0px);

  /*
  color: blue;
  background-color: red;
  overflow: hidden;
  //*/
}