body {background-color: rgb(1, 46, 87);
    //    background-image: url(../images/background4.png);
    }

.links {max-width: 402px;
        button {background-color: transparent;
                border: none;
                color: rgb(233, 242, 250)}}
.version {color:black}


div {
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 15px;
    text-align: center;
    width: fit-content;

    background-color: rgb(21, 47, 86);

    border-style: none;

    } 

a {color:white; text-decoration-style: underline;}

button {
    cursor: pointer;
    margin: 5px auto;
}

.button0, #simpleLightButton { background-color: rgb(208, 208, 215);
    &:active {cursor: not-allowed;}}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.col {
    border-radius: 0;
    border: solid 2px rgb(0, 0, 255)}

#themeSettingsCloseButton {background: none;}
#actualSettingsIcon {content:url(../images/settingsLight.png)}
video {border-radius: 10px;}
iframe {border-radius: 10px;}

#bgByDefault {display: none;}
#themeSettingsCloseButton {background-color: gray;}